/* to all the html file */

* {
    margin: 0;
    padding: 0;
}


/* header section */

header {
    position: relative;
    top: 0;
    left: 0;
}

header img {
    width: 100vw;
    height: 250px;
}